@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Chakra Petch', sans-serif;
}

.header {
    height: 500px;
    overflow: hidden;
}

.info img {
    display: inline-block;
    width: 60px;
}

.info h2 {
    display: inline-block;
}

#bg {
    width: 100%;
    filter: blur(4px);
}

#pr {
    width: 20%;
    left: 80%;
    top: 30%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.35rem white);
}

.info {
    font-size: 40px;
    left: 30%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    color: black;
    height: 500px;
    filter: drop-shadow(0 0 0.35rem white);
}

.contact {
    margin-top: 50px;
    line-height: 50px;
}

.left {
    left: 10%;
    top: 80%;
    transform: translate(-50%,-50%);
    position: absolute;
    padding: 20px;
}
 
.fa {
    border-radius: 40%;
    margin: 5px;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #a02b85;
    color: white;
}
  